.welcome__container--outer {
  text-align: center;

  .heading__container {
    padding-top: 1.5em;
    height: 65vh;
    background-color: rgba(#e6e6e6, 0.87);

    h1 {
      padding-top: 2em;
      font-size: 2.5em;
    }
  }
}
