// Application Wide Settings
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.body__container--inner {
  position: relative;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}
.body__container--outer,
.body__container--inner {
  height: 100%;
}
