%button {
  @extend button;
  background-color: $secondary-color;

  &:hover{
    background-color: darken($secondary-color, 10);
  }
}

%error-page__container {
  padding: 5em;
  text-align: center;
  height: 100%;
  background-color: $light-gray;

  h1 {
    font-size: 3.5em;
  }

  p {
    font-size: 1.5em;
  }
}
