@mixin vertically-centered {
  margin-top: 25vh;
  margin-bottom: 25vh;
}

@mixin error-page {
  padding: 5em;
  text-align: center;
  height: 100%;
  background-color: $light-gray;

  h1 {
    font-size: 3.5em;
  }

  p {
    font-size: 1.5em;
  }
}

@mixin button {
  @extend button;
  background-color: $secondary-color;

  &:hover{
    background-color: darken($secondary-color, 10);
  }
}
