.post__list--container {
  @include outer-container;
}

// New post button
.button__container {
  @include span-columns(12);
  @include shift(4.6);
  padding: 0 0 2em;
  .button__create--post {
    @include button;
    width: 20%;
    text-align: center;
  }
}

// Post styles
.post__container {
  $title-size: 1.25em;
  $base-spacing: 1.5em !default;
  $action-color: $primary-color;
  $post-color: $base-font-color;
  $subtext-color: transparentize($post-color, .25);
  @include margin(3em 0 0 3em);
  border-bottom: 1px solid transparentize($post-color, 0.8);
  @include outer-container;
  .post__text--container {
    @include span-columns(9);
    #post__title {
      font-size: $title-size;
      a {
        text-decoration: none;
        color: $action-color;
        &:hover {
          text-decoration: underline;
        }
      }
      .post__domain {
        font-size: 0.75em;
        padding-left: 0.5em;
        color: $subtext-color;
      }
    }
    .post__description {
      margin-left: $base-spacing;
      @include span-columns(9 of 9);
      p {
        font-size: 0.9em;
        color: $subtext-color;
      }
    }
    .post__author--details {
      @include span-columns(9 of 9);
      p {
        font-size: 0.75em;
        font-style: italic;
        color: $subtext-color;
      }
    }
  }
  .post__link--container {
    @include span-columns(3);
    .post__link--link {
      float: right;
      text-align: center;
      a {
        @include button;
        margin-top: 0.5em;
        padding-bottom: 0.5em;
      }
    }
  }
}
