// postList styles
.posts__container {
  padding: 3em;
}

.button__container {
  padding-top: 2em;
  padding-left: 3em;
  .button__create--post {
    @extend %button;
  }
}

// postItem styles
.comment {
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $action-color: $primary-color;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $comment-gutter: 1.4em;
  $comment-image-padding: 0.7em;
  $comment-image-width: 4em;
  $comment-color: $base-font-color;
  $comment-background: lighten($action-color, 15%);
  $comment-detail-color: transparentize($comment-color, 0.5);
  $comment-image-vert-alignment: top;

  border-bottom: 1px solid transparentize($comment-color, 0.9);
  display: table;
  margin-bottom: $base-spacing;
  padding-bottom: 1em;
  width: 100%;

  .comment-image,
  .comment-content {
    display: table-cell;
    vertical-align: $comment-image-vert-alignment;
  }

  .comment-image {
    width: 5%;
    padding-right: $comment-gutter;

    > img {
      background: $comment-background;
      border-radius: $base-border-radius;
      display: block;
      height: auto;
      max-width: none;
      padding: $comment-image-padding;
      width: $comment-image-width;
    }

    .comment-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .comment-content {
    width: 60%;
    h1 {
      font-size: 1em;
      margin: 0 0 0.5em 0;

      a {
        color: $base-font-color;

        &:hover {
          text-decoration: underline;
        }
      }

      .domain__span {
        padding-left: .5em;
        color: transparentize($base-font-color, 0.3);
      }
    }

    p {
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }

    .comment-detail {
      color: $comment-detail-color;
      font-size: 0.9em;
      font-style: italic;
      }
    }

  .comment-link__container {
    width: 40%;
    .comment-link {
      color: $secondary-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
