<template name="postItem">
  <div class="post__container">
    <div class="post__text--container">
      <h1 id="post__title">
        <a href="{{url}}">{{title}}</a>
        <span class="post__domain">{{domain}}</span>
      </h1>
      <div class="post__description">
        <p>
          {{description}}
        </p>
      </div>
      <div class="post__author--details">
        <p>Submitted by: {{author}} -
          <a href="{{pathFor 'postPage'}}"> {{commentsCount}} Comments </a>
          | {{votes}} Votes
        </p>
      </div>
    </div>
    <div class="post__link--container">
      <ul class="post__link--link">
        <li>
          <a class="{{upvotedClass}}" href="#">Upvote</a>
        </li>
        <li>
          <a href="{{pathFor "postPage"}}">Discuss</a>
        </li>
        {{#if ownPost}}
        <li>
          <a href="{{pathFor "postEdit"}}">Edit Post</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</template>
